<div class="row">
    <div class="input-group mb-3 mt-5">
        <button (click) = "searchBlog();" class="btn btn-outline-secondary" type="button" id="button-addon1">Search</button>
        <input [(ngModel)]="valueSearch" type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
            aria-describedby="button-addon1">
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Sort by created at</label>
        <select class="form-select" id="inputGroupSelect01" [(ngModel)]="sortByCreatedAt" (change) = "sortList();" >
          <option selected>Choose...</option>
          <option [value]="1">ASC</option>
          <option [value]="2">DESC</option>
        </select>
      </div>
    <div>
        <ul class="list-unstyled">
            <li class="media" *ngFor="let blog of blogList">
                <img (click) = "detailBlog(blog.id)" src="{{blog?.image}}" class="w-25 mr-3 cursor-pointer" alt="...">
                <div (click) = "detailBlog(blog.id)" class="media-body cursor-pointer">
                    <h5 class="mt-0 mb-1 ">{{blog?.title}}</h5>
                    {{blog?.content}}
                    <div>
                        {{blog?.createdAt  | date : 'yyyy/MM/dd HH:mm'}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <app-paging [totalRecord]="totalRecord" [currentPage]="currentPage" (eventHandler)="onSelectPage($event)">
    </app-paging>
</div>